@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    font-optical-sizing: auto;
    background-color: var(--clr-body);
   
}
.open {
    transform: translateX(em(225, 16));
    max-width: calc(var(--container) - em(225, 16));
}

.container {
    max-width: var(--container);
    margin-inline: auto;
}
.separation {
    display: flex;
    height: calc(100svh - em(72, 16));
    background-color: var(--clr-separation);
    & > * {
        padding-bottom: em(16, 16);
        flex-basis: 100%;
    }

    h2 {
        padding-inline: em(16, 16);
        font-family: $font-family-Roboto;
        font-size: var(--h2); //14
        font-weight: 500;
        line-height: em(16, 14);
        letter-spacing: em(2, 14);
        text-transform: uppercase;
        padding-block: em(12, 14);
        background-color: var(--clr-bg-H2);
        color: var(--clr-H2);
    }
    .markdown {
        border-right: 1px solid var(--clr-bg-separator);
    }
}
